@import "@new-ui/reset";
@import "@new-ui/colors";
@import "@new-ui/spacings";
@import "@new-ui/typography";


@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('/src/fonts/WOFF2/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations'),
         url('/src/fonts/WOFF/SourceSerif4Variable-Roman.ttf.woff') format('woff-variations'),
         url('/src/fonts/VAR/SourceSerif4Variable-Roman.ttf') format('truetype-variations');
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('/src/fonts/WOFF2/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations'),
         url('/src/fonts/WOFF/SourceSerif4Variable-Italic.ttf.woff') format('woff-variations'),
         url('/src/fonts/VAR/SourceSerif4Variable-Italic.ttf') format('truetype-variations');
}

:root {
    --serif: 'Source Serif VF', var(--transitional);

	--sl-color-accent-low: var(--link);
	--sl-color-accent: var(--link);
	--sl-color-accent-high: var(--link);
	--sl-color-white: var(--white);
	--sl-color-gray-1: var(--silver2);
	--sl-color-gray-2: var(--silver3);
	--sl-color-gray-3: var(--silver4);
	--sl-color-gray-4: var(--silver5);
	--sl-color-gray-5: var(--silver6);
	--sl-color-gray-6: var(--silver8);
	--sl-color-black: var(--black);
}

:root[data-theme='light'] {
	--sl-color-accent-low: var(--silver1);
	--sl-color-accent: var(--link);
	--sl-color-accent-high: var(--link);
	--sl-color-white: var(--black);
	--sl-color-gray-1: var(--silver7);
	--sl-color-gray-2: var(--silver6);
	--sl-color-gray-3: var(--silver5);
	--sl-color-gray-4: var(--silver4);
	--sl-color-gray-5: var(--silver3);
	--sl-color-gray-6: var(--silver2);
	--sl-color-gray-7: var(--silver1);
	--sl-color-black: var(--white);
}

body {
    font-family: var(--humanist);
    overflow-x: hidden;
    font-optical-sizing: auto;
    margin: 0;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
    font-feature-settings: "liga", "dlig", "hlig";
    font-size: 1.375rem;
    line-height: 2.125rem;
    font-kerning: normal;
    font-variant-numeric: oldstyle-nums proportional-nums;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis-weight: none;
    overflow-wrap: break-word
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: var(--serif);
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
    color: var(--sl-color-white);
    line-height: var(--sl-line-height-headings);
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: var(--serif);
    text-wrap: balance;
    font-weight: 400;
    margin-block-start: 1.875rem;
    font-variant-ligatures: no-common-ligatures;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    margin-bottom: -0.27em;
    margin-top: 0;
    vertical-align: baseline;
}
h1 {
    font-size: 3.625rem;
    line-height: 4rem;
    letter-spacing: -0.075rem;
}
h2 {
    font-size: 2.813rem;
    line-height: 3.25rem;
    letter-spacing: -0.05rem;
}
h3 {
    font-size: 1.75rem;
    line-height: 2.625rem;
    letter-spacing: -0.05rem;
}
h2 + p,
h3 + p {
    margin-top: var(--spacing-06);
}
p {
    font-size: 1.375rem;
    line-height: 2.125rem;
    text-justify: inter-word;
    overflow-wrap: break-word;
    hanging-punctuation: first last;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    orphans: 3;
    widows: 3;
}