@import "@new-ui/colors";
@import "@new-ui/spacings";
@import "@new-ui/typography";

@font-face{
    font-family: 'Garamond';
    font-weight: 400;
    font-style: regular;
    font-stretch: normal;
    src: url('/src/fonts/WOFF2/EBGaramond-Regular.woff2');
}

@font-face{
  font-family: 'Garamond';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/src/fonts/WOFF2/EBGaramond-Italic.woff2');
}

:root {
    --serif: 'Garamond', var(--transitional);
    --sans: var(--geometric-humanist);
}

body {
    font-family: var(--sans);
    font-optical-sizing: auto;
    font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
    font-feature-settings: "liga", "dlig", "hlig";
    font-kerning: normal;
    font-variant-numeric: oldstyle-nums proportional-nums;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis-weight: none;
    overflow-wrap: break-word;
}

/* Typography */

p {
    font-weight: 400;
    font-family: var(--sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400 !important;
    font-family: var(--serif);
    text-wrap: balance;
    font-weight: 400;
    font-variant-ligatures: no-common-ligatures;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;
}
h1 {
    font-size: var(--desktop-heading-01);
    line-height: var(--lh-desktop-heading-01);
}
h2 {
    font-size: var(--desktop-heading-02);
    line-height: var(--lh-desktop-heading-02);
}
h3 {
    font-size: var(--desktop-heading-03);
    line-height: var(--lh-desktop-heading-03);
}
h4 {
    font-size: var(--desktop-heading-04);
    line-height: var(--lh-desktop-heading-04);
}
h5 {
    font-size: var(--desktop-heading-05);
    line-height: var(--lh-desktop-heading-05);
}
h6 {
    font-size: var(--desktop-heading-06);
    line-height: var(--lh-desktop-heading-06);
}

p {
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    text-justify: inter-word;
    overflow-wrap: break-word;
    hanging-punctuation: first last;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    orphans: 3;
    widows: 3;
}
  
/* Hero */

.hero .action {
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
}

.hero .action svg {
  font-size: 1.25rem;
}

.hero .action.primary {
  background-color: var(--sl-color-green-low);
  border: 1px solid var(--sl-color-green);
  color: var(--sl-color-green-high);
}

.hero .action.primary:is(:hover, :focus-visible) {
  border-color: oklch(52% 0.11 var(--sl-hue-green));
  color: var(--sl-color-green-accent-invert);
}

.hero .action.secondary {
  border-color: var(--sl-color-gray-2);
  color: var(--sl-color-gray-2);
}

.hero .action.secondary:is(:hover, :focus-visible) {
  border-color: var(--sl-color-accent-high);
  color: var(--sl-color-accent-high);
}

.hero .action.minimal:is(:hover, :focus-visible) {
  color: var(--sl-color-accent-high);
}

.hero .action.minimal {
  padding-inline: 0.25rem;
}

/* Sidebar */

ul:where(.astro-ddsugoka) {
  --sl-sidebar-item-padding-inline: 0.5rem !important;
}

div.sidebar-pane .top-level > li + li {
  margin-top: var(--spacing-03) !important;
}

.large:where(.astro-ddsugoka) {
  font-weight: 400;
}

.right-sidebar-panel:where(.astro-lpg6qztn) h2 {
  font-family: var(--sans);
  font-weight: 400;
}